.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.register-section {
	padding-top: 100px;
	height: 90vh;
	background: linear-gradient(
		17deg,
		rgba(251, 239, 216, 1) 7%,
		rgba(255, 255, 255, 1) 53%,
		rgba(252, 241, 221, 1) 88%
	);

	.register-content {
		h2 {
			margin: 45px 0;
			font-size: 38px;
			color: var(--second-color);
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 2px;
		}

		form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.register-elements {
			padding: 7px;
			margin: 5px;

			input {
				width: 320px;
				height: 45px;
				padding: 10px;
				font-size: 18px;
				border: 1px solid var(--second-hover-color);
				border-radius: 13px;
			}
		}

		.send {
			margin-top: 5px;
			height: 50px;
			width: 320px;
			font-size: 20px;
			background-color: var(--second-color);
			color: #fff;
			border-radius: 15px;
			border: 1px solid var(--second-hover-color);
			cursor: pointer;
			transition: background-color 0.3s;
		}

		.send:hover {
			background-color: var(--second-hover-color);
		}

		p {
			margin-top: 20px;
			font-size: 18px;
			letter-spacing: 0.5;
		}

		a {
			text-decoration: none;
			color: var(--second-color);
		}
	}
}

/* MEDIAQUERY */ 
@media (min-width: 1000px) {
	.register-section {
		padding: 150px 0 100px 0;
		.register-content {
			h2 {
				font-size: 42px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.register-section {
		padding: 150px 0 100px 0;
		.register-content {
			.login-elements input {
				width: 330px;
				height: 55px;
			}
			.send {
				width: 330px;
			}
		}
	}
}
